
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Create Account</title>
</head>
<body>
    
    <h1>Create Account</h1>

    <section class="create-form">
       <form method="POST" action="/loginAccount">
            <label for="username"><b>Username or Email</b></label>
            <input type="text" placeholder="username or Email" name="username" id="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Password" name="password" id="password" required>

            <button type="submit"> Login </button>

        </form>
    </section>

</body>
</html>