<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">


    <title>1 Broken Access Control</title>
</head>
<body>
    <h1>Lab 1: Broken Access Control</h1>

    <h2>Description</h2>
    <p>There is 2 users attacker(id: 1) and victim(id:2). Retrieve the secret code that is under victim profile.</p>


    <a href="/labs/broken-access-control/1/profile?id=attacker">View your profile</a>


</body>
</html>



    <!-- <p>Login credentials for attacker 
        <li>username: attacker</li>
        <li>password: attacker</li>
    </p>

    <h2>Login</h2>
    <form method="POST" action="/loginlab1">
        <label for id="username" name="username">Username</label>
        <input type="text"  id="username" name="username">
        <label for id="password" name="password">password</label>
        <input type="text"  id="password" name="password">

    </form> -->