<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">


    <title>1 Broken Access Control</title>
</head>
<body>
    <h1>User: Attacker</h1>

 

    <h2>Submit the flag</h2>
    <form method="POST" action="/submitFlag">
        <!-- <label for id="flag" name="flag">Flag</label> -->
        <input type="text"  id="flag" name="flag" required>
        <button type="submit">Flag</button>
    </form>

</body>
</html>