<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="homepage.css"> -->


    <title>Broken Access Control</title>
</head>
<body>

    <header class="header">
        <h1>Broken Access Control</h1>
    </header>

    <section class="description">
        <p>Broken Access Control occurs when an application fails to properly restrict what authenticated or unauthenticated users are allowed to do. This can allow users to access pages, data, or actions that should be limited to higher-privileged roles. In this lab, access controls are intentionally misconfigured to demonstrate how attackers can bypass authorization checks and why enforcing access rules correctly is critical for application security.</p>
    </section>

    <a href="/labs/broken-access-control/1" target="_blank">Lab 1</a>

    
</body>
</html>