<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">


    <title>1 Broken Access Control</title>
</head>
<body>
    <h1>User: Victim</h1>

    <p>
        <%= user.secret %>
    </p>

</body>
</html>