<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">


    <title>Authentication Faliure: admin page</title>
</head>
<body>
    <h1>Lab 1: Authentication Faliure: admin page</h1>

    <h2>Confratulations</h2>
    <p>Flag: 49fb07e800324d29f25455d0aed1c566</p>


</body>
</html>



  