<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="homepage.css"> -->


    <title>Authentication Faliure</title>
</head>
<body>

    <header class="header">
        <h1>Authentication Faliure</h1>
    </header>

    <section class="description">
        <p></p>
    </section>

    <a href="/labs/authentication-faliure/1" target="_blank">Lab 1</a>

    
</body>
</html>