<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="homepage.css"> -->


    <title>Authentication Faliure</title>
</head>
<body>

    <header class="header">
        <h1>Authentication Faliure</h1>
    </header>

    <section class="description">
        <p>Authentication Failure occurs when an application improperly verifies the identity of a user. This includes weak password handling, missing rate limits, insecure session management, or exposing authentication logic through error messages. When authentication fails, attackers can brute-force credentials, hijack sessions, or gain unauthorized access without ever needing to bypass access control. Authentication is the front door. If it’s weak, everything behind it is already compromised.</p>
    </section>

    <a href="/labs/authentication-faliure/1" target="_blank">Lab 1</a>

    
</body>
</html>