<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="homepage.css"> -->


    <title>Authentication Faliure</title>
</head>
<body>

    <header class="header">
        <h1>Authentication Faliure</h1>
    </header>

    <section class="description">
        <p>Flag: 258b4b485e30e5b8f698af2f369d4d21</p>
    </section>


    
</body>
</html>