<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="homepage.css"> -->


    <title>Cryptographic Faliure</title>
</head>
<body>

    <header class="header">
        <h1>Cryptographic Faliure</h1>
    </header>

    <section class="description">
        <p>Cryptographic Failure occur when an application improperly uses encryption or hashing to protect sensitive data. This includes weak algorithms like MD5, missing salts, hardcoded secrets, exposed keys, or leaking hashed credentials. When cryptography is misused, attackers can recover passwords, forge tokens, or access confidential data without breaking the system itself. Security doesn’t fail because encryption exists. It fails because it is implemented poorly.<p>
    </section>

    <a href="/labs/cryptographic-faliure/1" target="_blank">Lab 1</a>
    
</body>
</html>